<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<header>
    <div class="header-container">
        <h1>F1 Api Documentation</h1>
    </div>
</header>
<body>
    <main>
        <div class="response">
             <h1>Endpoints</h1> <br>

             <h2>User authentication</h2>
            
             <% Object.entries(data.user).forEach(element => { %>
                    <h3><%= data.user[element[0]].title %></h3>

            <code><span class='method'><%= data.user[element[0]].method %></span>          <%= data.user[element[0]].url %> </code><br>
            
            <h4>REQUEST BODY</h4>
            <code>
                <span class="brackets">     {</span> <br>
                    <% Object.entries(data.user[element[0]].body).forEach(el => { %>
                        <span class='prop'><%= el[0] %> </span> : <span class='value'><%= el[1] %> ></span><br>
                    <% }) %>
                       
                <span class='brackets'>     }</span>
            </code>   

            <h4>RESPONSE</h4>
            <code>
                <span class="brackets">     {</span> <br>
                    <% Object.entries(data.user[element[0]].response).forEach(el => { %>
                        <span class='prop'><%= el[0] %> </span> : <span class='value'><%= el[1] %> ></span><br>
                    <% }) %>
                       
                <span class='brackets'>     }</span>
            </code>   
             <% }) %>
            

             <h2>Formula 1 endpoints</h2>
            
             <% Object.entries(data.formula).forEach(element => { %>
                    <h3><%= data.formula[element[0]].title %></h3>

            <code><span class='method'><%= data.formula[element[0]].method %></span>          <%= data.formula[element[0]].url %> </code><br>
            
            <h4>RESPONSE</h4>
            <code>//<%=  data.formula[element[0]].comment  %> //</code><br>
            <code>
                <span class="brackets">     {</span> <br>
                    <% Object.entries(data.formula[element[0]].response).forEach(el => { %>
                        <span class='prop'><%= el[0] %> </span> : <span class='value'><%= el[1] %></span><br>
                    <% }) %>
                       
                <span class='brackets'>     }</span>
            </code>   
             <% }) %>
           
        </div>
    </main>
</body>
</html>